/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");

/* JOSH COMEAU CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Darker Grotesque", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* MAIN STYLING */

main {
  min-height: 100vh;
  color: #fff;
  font-size: 1rem;
  background-color: #121212;
}

.hero-section {
  background: #0e0e0e url(assets//images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 2.5rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
}

.main-content {
  padding-inline: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;

  > button {
    background-color: #4b4b4b;
    padding-inline: 0.5rem;
    padding-block: 1rem;
  }
}
